/*
*{
  padding: 0%;
  margin: 0%;
  
}

html, body{
  height: 100%;
  width: 100%;
  
  
}
.s{
  height: 100%;
  position: fixed;
  z-index: 0;
}

.b{
  width: 50%;
  aspect-ratio: 1/1;
  margin: 0 auto;
  margin-top: 20px;
  
}

#aa{
  animation: as 10s linear infinite;
}

@keyframes as{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
.a{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 100%;
  
}

.c{
  text-align: center;
  margin-top: 10px;
  
}

.d{
  margin:0 auto;
  height: 100%;
  width: 90%;
  margin-top: 20px;
}

.e{
  background:rgba(20,20,255,0.4);
  border-radius: 40px;
  width: 100%;
  height: 80%;
  margin: 10px auto;
  rotate: 40deg;
}
*/

* {
  margin: 0 auto;
  padding: 0%;
}

html,
body {
  height: 100%;
  background: #3a3a3a;
}

/*
*/
#a {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  filter: brightness(0.3);
}

#b {
  width: 60%;
  aspect-ratio: 1/1;
  border-radius: 20px;
  border: 0.1px solid #353434;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3));
  box-shadow: 10px 10px 25px 2px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
}

#e {
  width: 60%;
  aspect-ratio: 1/1;
  margin-right: -50px;
  border-radius: 20px;
  border: 0.1px solid #353434;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
  box-shadow: 10px 10px 25px 2px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
rotate: -20deg;
  
}
/*
右
*/
#f {
  width: 60%;
  aspect-ratio: 1/1;
  margin-left: -50px;
  border-radius: 20px;
  border: 0.1px solid #353434;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  box-shadow: 10px 10px 25px 2px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
rotate: 20deg;
}

#bb {
  display: flex;
  width: 90%;

}



.b {
  height: 50%;
  position: relative;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
}

.d {
  height: 100%;
  width: 200%;
  position: relative;
}

.s {
  height: 100%;

  position: relative;
}